* {
    box-sizing: border-box;
  }

body{
    font-family: "Lexend";
    min-height: 100vh; 
    font-size: 15px;
    line-height: 18px;
    color: #444444;
}


.title{
    margin: 40px 20px 20px 80px;

}
.title p img {
    padding: 2px;
}
.email {
    padding: 10px 20px 20px 80px;
}
.email h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.email>p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #444444;
}

.email button {
    width: 142px;
    height: 42px;
    left: 214px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    top: 544px;
    background: #F8993F;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.res{
    padding: 5px;
    background: #F7F7F7;
    border-radius: 10px;
    margin: 10px;
}
.res p{
    margin-left: 20px;
}
.act{
    margin-left: 40px;
}
.network{
    padding: 65px 20px 20px 80px;
}

.network>p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

}
.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-container>a{
    text-align: center;
    padding-top: 20px;
    margin-left: 0rem;
    color: #F8993F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.grid-container>h4{
    margin-right: 70px;
}

.information{
    display: grid;
    grid-template-columns: auto 1fr;
}

.information p:nth-child(odd){
    margin-right: 40px;
}

.product{
    padding-top: 20px;
    background: #F7F7F7;
    border-radius: 10px;
    margin: 10px;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    width: 98%;
}

.product .logo{
    width: 196px;
    height: 196px;
    left: 1000px;
    top: 1603px;
    background: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;
}
.product .describe{
    display: inline-grid;
    grid-template-columns: auto 1fr;
}

.product .describe p:nth-child(odd){
    margin-right: 150px;
    font-weight: 600;
}
.product .describe a{
    color: #F8993F;
    text-decoration: none;
}
.logo img{
    margin: 36px;
}

footer{
    background: #444444;
    border-radius: 10px;
    margin: 10px;
    color: #B7B7B7;
    
}

footer>h5{
    padding-top: 25px;
    margin-left: 75px;
    font-weight: 600;
     font-size: 18px;
     line-height: 22px;
    color: #FFFFFF;
}

footer>p{
    margin-left: 75px;
}

footer>aside{
    display: flex;
    margin-left: 50px;
}

aside span{
    
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 25px;
    width: 37.93px;
    height: 37.93px;  
    cursor: pointer;  
}

aside .dot1{
    background: #0068FF;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 6px;
    color: white;
}

aside img{
    width: 45px;
    height: 81px;
    padding-bottom: 43px;
    margin-left: 12px;
    cursor: pointer;
}

